<div class="container">
    <h1>Lekker minen</h1>
    <form>
        <div class="form-group">
            <label for="planet">Planeet: </label>
            <select class="form-control" id="planet" required>
                <option value="planet1">Planeet 1</option>
                <option value="planet2">Planeet 2</option>
                <option value="planet3">Planeet 3</option>
                <option value="planet4">Planeet 4</option>
                <option value="planet5">Planeet 5</option>
                <option value="planet6">Planeet 6</option>
            </select>
            <br><br>
            <label for="level">Level: </label>
            <select class="form-control" id="level" required>
                <option value="level1">1</option>
                <option value="level2">2</option>
                <option value="level3">3</option>
                <option value="level4">4</option>
                <option value="level5">5</option>
                <option value="level6">6</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-success">MINE BITCHES!</button>

    </form>
</div>