
.container{
    margin: 15px;
    .results {
        padding: 15px;
        display: flex; 
        flex-direction: row; 
        width: 100%;
        .res {
            flex: 1;             
        }
       
    }
}
.input {
    width: 33px
}